.indent {
    position: relative;
    display: block;
    margin: 140px 0;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    color: #BF3330;
}

.contacts-block {
    margin-right: 100px;
}

.contacts .phone,
.contacts .location {
    margin-right: 0;
    margin-bottom: 50px;
}

.contacts i {
    font-size: 40px;
}

.fatter {
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.googlemap {
    border: 1px solid #A60400;
    height: 60vh;
}

.lighter {
    text-align: center;
}

@media (max-width:823px) and (max-height:600px) {
    .contacts {
        flex-direction: column;
        align-items: center;
    }
    .contacts-block {
        margin-right: 0;
    }
    .googlemap {
        height: 90vh;
        min-width: 300px;
        width: 100%;
        border-left: none;
        border-right: none;
        margin-bottom: -100px;
    }
}

@media (max-width:500px) {
    .contacts {
        flex-direction: column;
        align-items: center;
    }
    .contacts-block {
        margin-right: 0;
    }
    .googlemap {
        height: 90vh;
        min-width: 300px;
        width: 100%;
        border-left: none;
        border-right: none;
        margin-bottom: -100px;
    }
}